<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
        body {
          padding-top: 50px;
        }
        .starter-template {
          padding: 40px 15px;
        }
    </style>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'guestbook/main_menu.html' %}
    <div class="container">
      <div class="starter-template">
        {% block content %}{% endblock %}
      </div>
    </div>
</body>
</html>