{% extends 'guestbook/base.html' %}
{% block title %}Сервис гостевых книг{% endblock %}
{% block content %}
    <ul>
        {% for guestbook in object_list %}
            <li><a href="{{ guestbook.get_absolute_url }}">{{ guestbook.title }}</a></li>
        {% empty %}
            <li>Не найдено ни одной гостевой книги</li>
        {% endfor %}
    </ul>
{% endblock %}