{% extends 'guestbook/base.html' %}
{% load static %}
{% block title %}Добавление гостевой книги{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>Добавить гостевую книгу</h1>
    <form method="post" class="form-horizontal" >
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Название:</label>
            <input type="text" name="title" class="form-control" id="id_title"/>
            {{ form.title.errors }}
        </div>
        <div class="form-group">
            <label for="id_slug">Ссылка:</label>
            <input type="text" name="slug" class="form-control" id="id_slug"/>
            {{ form.slug.errors }}
        </div>
        <div class="form-group">
            <label for="id_pre_approval">Модерировать посты:</label>
            {{ form.pre_approval }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Создать"/>
        </div>
    </form>
    <script type="text/javascript">
        document.getElementById("id_title").onkeyup = function() {
            var e = document.getElementById("id_slug");
            if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
        }
    </script>
{% endblock %}