{% extends 'guestbook/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <form method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Имя:</label>
            <input type="text" name="username" id="id_username" class="form-control" value="{% if user.is_authenticated %}{{ user.username }}{% endif %}"/>
            {{ post_form.username.errors }}
        </div>
        <div class="form-group">
            <label for="id_text">Текст:</label>
            <textarea name="text" id="id_text" class="form-control" cols="30" rows="10"></textarea>
            {{ post_form.text.errors }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Добавить сообщение"/>
        </div>
    </form>
    {% if success %}<div class="alert alert-info">Ваше сообщение добавлено и появится сразу после модерации</div>{% endif %}
    {% for post in posts %}
        <div class="panel panel-default">
          <div class="panel-heading">Автор: <i>{{ post.username }}</i>&nbsp;Дата: <i>{{ post.created }}</i></div>
          <div class="panel-body">
            {{ post.text }}
            {% if not post.moderated and post.guestbook.user_id == user.id %}
                <div>
                    <span>
                        <a href="{% url 'guestbook:moderate_post' post_id=post.id %}">Опубликовать</a>
                    </span>&nbsp;&nbsp;&nbsp;
                    <span>
                        <a href="{% url 'guestbook:delete_post' post_id=post.id %}">Удалить</a>
                    </span>
                </div>
            {% endif %}
          </div>
        </div>
    {% empty %}
        <div class="alert alert-info">Еще никто ничего не написал.</div>
    {% endfor %}
{% endblock %}