<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand active" href="/">Сервис гостевых книг</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            <li><a href="{% url 'guestbook:guestbook_add' %}">Добавить новую гостевую книгу</a></li>
            <li><a href="{% url 'account:logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'account:login' %}">Войти</a></li>
            <li><a href="{% url 'account:register' %}">Зарегистрироваться</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user.username }}</a></li>
        </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</div>