{% extends 'guestbook/base.html' %}
{% block content %}
<form class="form-signin" method="post" role="form">
    {% csrf_token %}
    <h2 class="form-signin-heading">Регистрация</h2>
    <input type="text" name="username" class="form-control" placeholder="ник" required autofocus>
    <div class="alert alert-error">{{ form.username.errors }}</div>
    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
    <div class="alert alert-error">{{ form.password.errors }}</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
</form>
{% endblock %}